/* style.css */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; 
}

nav {
    background-color: #000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
}

nav .txt {
    color: white;
    padding-right: 20px;
    font-size: 14px;
}

.header {
    background: rgb(225, 1, 1);
    background: linear-gradient(180deg, rgba(225, 1, 1, 1) 31%, rgba(143, 0, 0, 1) 88%);
    color: white;
    padding: 10px 20px;
    position: relative;
    text-align: center;
}

.header img {
    height: 150px;
    display: block;
    margin: 0 auto;
}

.navbar {
    background-color: #E10101;
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
}

.navbar a:hover {
    background-color: #c30000;
}

.banner {
    position: relative; 
    left: 50%; 
    right: 50%; 
    width: 100vw; 
    margin-left: -50vw; 
    margin-right: -50vw; 
    height: auto; 
}

.infos {
    margin: 0 200px;
}

.titulo1 {
    text-align: center;
}

.explicacao {
    text-align: justify;
    font-size: large;
}

.flex-container {
    display: flex;
    align-items: center; /* Alinha verticalmente */
}

.flex-container img {
    max-width: 100%; 
    height: auto; 
    margin: 0; 
}

.fundo-container {
    position: relative; 
}

.fundoInfo {
    display: block; 
}

.titulo2 {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -150%); 
    color: rgb(0, 0, 0); 
    font-size: 25px; 
    font-weight: bold;
    text-align: center; 
}

.explicacao2 {
    position: absolute; 
    top: 60%; 
    left: 50%; 
    right: -40%;
    transform: translate(-50%, -50%); 
    color: rgb(0, 0, 0); 
    font-size: 16px; 
    text-align: justify;  
}

.titulo3 {
    margin-top: 50px;
    text-align: center;
    margin-left: -500px;
}

.explicacao3 {
    margin-right: 100px;
    text-align: justify;
    font-size: 20px;
    margin-top: -100px;
}

.migracao {
    display: flex; 
    align-items: center;
}

.migracao img {
    width: 400px; 
    height: 400px;
}

.templo {
    position: relative; /* Para garantir que a imagem se posicione corretamente */
    left: 50%; /* Move a imagem para a direita */
    right: 50%; /* Move a imagem para a esquerda */
    width: 100vw; /* Usa 100% da largura da viewport */
    margin-left: -50vw; /* Ajusta a margem para centralizar */
    margin-right: -50vw; /* Ajusta a margem para centralizar */
    height: auto; 
}

.tituloArq {
    font-size: 50px;
}

.imgInvasão {
    width: 550px; 
}

.fundoInfoInvasão {
    width: 500px;
}

.explicacaoInvasão {
    color: white;
    margin-right: 80px;
}

.tituloInvasão {
    color: white;
    margin-bottom: 50px;
}

.explicacao4 {
    margin-right: -80px;
}

.BR {
    background-image: url(img/mapaFundo.png); /* Substitua 'novaImagem.png' pelo nome da nova imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir o elemento */
    background-position: center; /* Centraliza a imagem no elemento 
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}



.NM {
    display: flex;
    align-items: center;
    margin: 20px 0;
    text-align: justify;
}

.NM img {
    max-width: 500px;
    margin-right: 20px;
}

